// PRIMARY
$--hb-btn-text-primary-text: #1b73e8;
$--hb-btn-contained-primary-background: #1b73e8;
$--hb-btn-contained-primary-text: #ffffff;
$--hb-btn-outlined-primary-border: #1b73e8;
$--hb-btn-outlined-primary-text: #1b73e8;

// PRIMARY - HOVER
$--hb-btn-text-primary-background-hover: #8cbdff;
$--hb-btn-text-primary-text-hover: #315fc6;
$--hb-btn-contained-primary-background-hover: #315fc6;
$--hb-btn-outlined-primary-border-hover: #6fadff;
$--hb-btn-outlined-primary-text-hover: #6fadff;

// PRIMARY - DISABLED
$--hb-btn-text-primary-text-disabled: #1d4d8b;
$--hb-btn-contained-primary-background-disabled: #1d4d8b;
$--hb-btn-outlined-primary-border-disabled: #1d4d8b;
$--hb-btn-outlined-primary-text-disabled: #1d4d8b;

// SECONDARY
$--hb-btn-text-secondary-text: #8a8a8a;
$--hb-btn-contained-secondary-background: #6c757d;
$--hb-btn-contained-secondary-text: #ffffff;
$--hb-btn-outlined-secondary-border: #6c757d;
$--hb-btn-outlined-secondary-text: #6c757d;

// SECONDARY - HOVER
$--hb-btn-text-secondary-background-hover: #bfbfbf;
$--hb-btn-text-secondary-text-hover: #6c757d;
$--hb-btn-contained-secondary-background-hover: #4f5962;
$--hb-btn-outlined-secondary-border-hover: #999a9b;
$--hb-btn-outlined-secondary-text-hover: #999a9b;

// SECONDARY - DISABLED
$--hb-btn-text-secondary-text-disabled: #54585d;
$--hb-btn-contained-secondary-background-disabled: #32383d;
$--hb-btn-outlined-secondary-border-disabled: #454e56;
$--hb-btn-outlined-secondary-text-disabled: #454e56;

// SUCCESS
$--hb-btn-text-success-text: #28a745;
$--hb-btn-contained-success-background: #28a745;
$--hb-btn-contained-success-text: #ffffff;
$--hb-btn-outlined-success-border: #28a745;
$--hb-btn-outlined-success-text: #28a745;

// SUCCESS - HOVER
$--hb-btn-text-success-background-hover: #a2e7af;
$--hb-btn-text-success-text-hover: #2e9445;
$--hb-btn-contained-success-background-hover: #5ec074;
$--hb-btn-outlined-success-border-hover: #06de37;
$--hb-btn-outlined-success-text-hover: #06de37;

// SUCCESS - DISABLED
$--hb-btn-text-success-text-disabled: #23673a;
$--hb-btn-contained-success-background-disabled: #23673a;
$--hb-btn-outlined-success-border-disabled: #23673a;
$--hb-btn-outlined-success-text-disabled: #23673a;

// WARNING
$--hb-btn-text-warning-text: #ffc107;
$--hb-btn-contained-warning-background: #ffc107;
$--hb-btn-contained-warning-text: #000000;
$--hb-btn-outlined-warning-border: #ffc107;
$--hb-btn-outlined-warning-text: #ffc107;

// WARNING - HOVER
$--hb-btn-text-warning-background-hover: #f2cd5c;
$--hb-btn-text-warning-text-hover: #6d5405;
$--hb-btn-contained-warning-background-hover: #ffd453;
$--hb-btn-outlined-warning-border-hover: #d9a60d;
$--hb-btn-outlined-warning-text-hover: #d9a60d;

// WARNING - DISABLED
$--hb-btn-text-warning-text-disabled: #8e741b;
$--hb-btn-contained-warning-background-disabled: #8e741b;
$--hb-btn-outlined-warning-border-disabled: #8e741b;
$--hb-btn-outlined-warning-text-disabled: #8e741b;

// ERROR
$--hb-btn-text-error-text: #dc3545;
$--hb-btn-contained-error-background: #dc3545;
$--hb-btn-contained-error-text: #ffffff;
$--hb-btn-outlined-error-border: #dc3545;
$--hb-btn-outlined-error-text: #dc3545;

// ERROR - HOVER
$--hb-btn-text-error-background-hover: #df7680;
$--hb-btn-text-error-text-hover: #7d0e18;
$--hb-btn-contained-error-background-hover: #ff6e7c;
$--hb-btn-outlined-error-border-hover: #e8707b;
$--hb-btn-outlined-error-text-hover: #e8707b;

// ERROR - DISABLED
$--hb-btn-text-error-text-disabled: #7d2e3a;
$--hb-btn-contained-error-background-disabled: #7d2e3a;
$--hb-btn-outlined-error-border-disabled: #7d2e3a;
$--hb-btn-outlined-error-text-disabled: #7d2e3a;
