@import './button';

$--hb-text-map: (
  text-primary: $--hb-btn-text-primary-text,
  text-primary-hover: $--hb-btn-text-primary-text-hover,
  text-primary-disabled: $--hb-btn-text-primary-text-disabled,
  text-secondary: $--hb-btn-text-secondary-text,
  text-secondary-hover: $--hb-btn-text-secondary-text-hover,
  text-secondary-disabled: $--hb-btn-text-secondary-text-disabled,
  text-success: $--hb-btn-text-success-text,
  text-success-hover: $--hb-btn-text-success-text-hover,
  text-success-disabled: $--hb-btn-text-success-text-disabled,
  text-warning: $--hb-btn-text-warning-text,
  text-warning-hover: $--hb-btn-text-warning-text-hover,
  text-warning-disabled: $--hb-btn-text-warning-text-disabled,
  text-error: $--hb-btn-text-error-text,
  text-error-hover: $--hb-btn-text-error-text-hover,
  text-error-disabled: $--hb-btn-text-error-text-disabled,
  contained-primary: $--hb-btn-contained-primary-text,
  contained-secondary: $--hb-btn-contained-secondary-text,
  contained-success: $--hb-btn-contained-success-text,
  contained-warning: $--hb-btn-contained-warning-text,
  contained-error: $--hb-btn-contained-error-text,
  outlined-primary: $--hb-btn-outlined-primary-text,
  outlined-primary-hover: $--hb-btn-outlined-primary-text-hover,
  outlined-primary-disabled: $--hb-btn-outlined-primary-text-disabled,
  outlined-secondary: $--hb-btn-outlined-secondary-text,
  outlined-secondary-hover: $--hb-btn-outlined-secondary-text-hover,
  outlined-secondary-disabled: $--hb-btn-outlined-secondary-text-disabled,
  outlined-success: $--hb-btn-outlined-success-text,
  outlined-success-hover: $--hb-btn-outlined-success-text-hover,
  outlined-success-disabled: $--hb-btn-outlined-success-text-disabled,
  outlined-warning: $--hb-btn-outlined-warning-text,
  outlined-warning-hover: $--hb-btn-outlined-warning-text-hover,
  outlined-warning-disabled: $--hb-btn-outlined-warning-text-disabled,
  outlined-error: $--hb-btn-outlined-error-text,
  outlined-error-hover: $--hb-btn-outlined-error-text-hover,
  outlined-error-disabled: $--hb-btn-outlined-error-text-disabled,
);

$--hb-background-color-map: (
  text-primary-hover: $--hb-btn-text-primary-background-hover,
  text-secondary-hover: $--hb-btn-text-secondary-background-hover,
  text-success-hover: $--hb-btn-text-success-background-hover,
  text-warning-hover: $--hb-btn-text-warning-background-hover,
  text-error-hover: $--hb-btn-text-error-background-hover,
  contained-primary: $--hb-btn-contained-primary-background,
  contained-primary-hover: $--hb-btn-contained-primary-background-hover,
  contained-primary-disabled: $--hb-btn-contained-primary-background-disabled,
  contained-secondary: $--hb-btn-contained-secondary-background,
  contained-secondary-hover: $--hb-btn-contained-secondary-background-hover,
  contained-secondary-disabled:
    $--hb-btn-contained-secondary-background-disabled,
  contained-success: $--hb-btn-contained-success-background,
  contained-success-hover: $--hb-btn-contained-success-background-hover,
  contained-success-disabled: $--hb-btn-contained-success-background-disabled,
  contained-warning: $--hb-btn-contained-warning-background,
  contained-warning-hover: $--hb-btn-contained-warning-background-hover,
  contained-warning-disabled: $--hb-btn-contained-warning-background-disabled,
  contained-error: $--hb-btn-contained-error-background,
  contained-error-hover: $--hb-btn-contained-error-background-hover,
  contained-error-disabled: $--hb-btn-contained-error-background-disabled,
);

$--hb-border-map: (
  outlined-primary: $--hb-btn-outlined-primary-border,
  outlined-primary-hover: $--hb-btn-outlined-primary-border-hover,
  outlined-primary-disabled: $--hb-btn-outlined-primary-border-disabled,
  outlined-secondary: $--hb-btn-outlined-secondary-border,
  outlined-secondary-hover: $--hb-btn-outlined-secondary-border-hover,
  outlined-secondary-disabled: $--hb-btn-outlined-secondary-border-disabled,
  outlined-success: $--hb-btn-outlined-success-border,
  outlined-success-hover: $--hb-btn-outlined-success-border-hover,
  outlined-success-disabled: $--hb-btn-outlined-success-border-disabled,
  outlined-warning: $--hb-btn-outlined-warning-border,
  outlined-warning-hover: $--hb-btn-outlined-warning-border-hover,
  outlined-warning-disabled: $--hb-btn-outlined-warning-border-disabled,
  outlined-error: $--hb-btn-outlined-error-border,
  outlined-error-hover: $--hb-btn-outlined-error-border-hover,
  outlined-error-disabled: $--hb-btn-outlined-error-border-disabled,
);
