// FONT SIZE
$--cth-typography-font-size-h1: 60px;
$--cth-typography-font-size-h2: 48px;
$--cth-typography-font-size-h3: 34px;
$--cth-typography-font-size-h4: 24px;
$--cth-typography-font-size-h5: 20px;
$--cth-typography-font-size-h6: 16px;
$--cth-typography-font-size-p: 14px;
$--cth-typography-font-size-small: 12px;

// FONT STYLE
$--cth-typography-font-style-normal: normal;
$--cth-typography-font-style-italic: italic;

// FONT WEIGHT
$--cth-typography-font-weight-light: 300;
$--cth-typography-font-weight-regular: 400;
$--cth-typography-font-weight-medium: 500;
$--cth-typography-font-weight-semi-bold: 600;
$--cth-typography-font-weight-bold: 700;
$--cth-typography-font-weight-extra-bold: 800;
$--cth-typography-font-weight-blacks: 900;

// LINE HEIGHT
$--cth-typography-line-height-h1: 74px;
$--cth-typography-line-height-h2: 60px;
$--cth-typography-line-height-h3: 50px;
$--cth-typography-line-height-h4: 28px;
$--cth-typography-line-height-h5: 24px;
$--cth-typography-line-height-h6: 20px;
$--cth-typography-line-height-p: 18px;
$--cth-typography-line-height-small: 16px;

// MARGIN BOTTOM
$--cth-typography-margin-bottom-h1: 20px;
$--cth-typography-margin-bottom-h2: 16px;
$--cth-typography-margin-bottom-h3: 12px;
$--cth-typography-margin-bottom-h4: 8px;
$--cth-typography-margin-bottom-h5: 6px;
$--cth-typography-margin-bottom-h6: 6px;
$--cth-typography-margin-bottom-p: 4px;
$--cth-typography-margin-bottom-small: 2px;
