@import '../../../../styles/colors/common';
@import '../../../../styles/mixins/transitions/common';

.Link {
  @include transition;

  color: $--hb-neutral-2;
  display: block;
  font-size: 14px;
  position: relative;
  text-decoration: unset;

  &:hover {
    color: $--hb-common-neutral-blue-1;
  }

  &--dark {
    color: $--hb-neutral-2--dark;

    &:hover {
      color: $--hb-common-neutral-blue-2;
    }
  }

  &--forced-hover {
    color: $--hb-common-neutral-blue-1;

    &--dark {
      color: $--hb-common-neutral-blue-2;
    }
  }

  &--underline {
    text-decoration: underline;
  }
}
