@import './button-icon-map';
@import './button-icon-mixins';
@import '../../../../../styles/mixins/button/button';

.ButtonIcon {
  @include apply-sizes($--hb-button-icon-size-map);
  @include button;

  background-color: unset;
  border-radius: 50%;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  &:hover:enabled {
    background-color: $--hb-btn-icon-background-hover;
  }

  &--dark {
    &:hover:enabled {
      background-color: $--hb-btn-icon-background-hover--dark;
    }
  }

  &--forced-hover:not(&:disabled) {
    background-color: $--hb-btn-icon-background-hover;
  }

  &--forced-hover--dark:not(&:disabled) {
    background-color: $--hb-btn-icon-background-hover--dark;
  }

  &__icon {
    @include apply-sizes($--hb-icon-size-map);
  }

  &__circle-pulse {
    background-color: $--hb-btn-icon-background-click;

    &--dark {
      background-color: $--hb-btn-icon-background-click--dark;
    }
  }
}
