@import './button-group-list';
@import './button-group-variants';

.ButtonGroup {
  display: flex;
  justify-content: center;

  &--vertical {
    flex-direction: column;
  }

  &__button {
    @each $orientation in $--hb-button-group-orientations {
      @include button-group-variants($orientation);
    }
  }
}
