@use 'sass:map';

@import '../../../../styles/mixins/text-ellipsis';
@import '../../../../styles/mixins/typography/typography';
@import '../../../../styles/mixins/typography/typography-list';
@import '../../../../styles/mixins/typography/typography-map';

.Typography {
  @each $font-type in $--hb-font-types {
    &--#{$font-type} {
      $--hb-font-size: map.get($--hb-font-size-map, $font-type);
      $--hb-line-height: map.get($--hb-line-height-map, $font-type);
      $--hb-margin-bottom: map.get($--hb-margin-bottom-map, $font-type);

      @include typography-styles(
        $--hb-font-size,
        $--hb-line-height,
        $--hb-margin-bottom
      );
    }
  }

  @each $font-style in $--hb-font-styles {
    &--#{$font-style} {
      font-style: map.get($--hb-font-styles-map, $font-style);
    }
  }

  @each $font-weight in $--hb-font-weights {
    &--#{$font-weight} {
      /* stylelint-disable-next-line font-weight-notation */
      font-weight: map.get($--hb-font-weights-map, $font-weight);
    }
  }

  font-family: Rubik, sans-serif;

  &--no-wrap {
    @include text-ellipsis;
  }

  &--without-margin {
    margin: 0;
  }
}
