@import '../../typography';

$--hb-font-size-map: (
  h1: $--hb-typography-font-size-h1,
  h2: $--hb-typography-font-size-h2,
  h3: $--hb-typography-font-size-h3,
  h4: $--hb-typography-font-size-h4,
  h5: $--hb-typography-font-size-h5,
  h6: $--hb-typography-font-size-h6,
  p: $--hb-typography-font-size-p,
  small: $--hb-typography-font-size-small,
);

$--hb-font-styles-map: (
  normal: $--hb-typography-font-style-normal,
  italic: $--hb-typography-font-style-italic,
);

$--hb-font-weights-map: (
  light: $--hb-typography-font-weight-light,
  regular: $--hb-typography-font-weight-regular,
  medium: $--hb-typography-font-weight-medium,
  semi-bold: $--hb-typography-font-weight-semi-bold,
  bold: $--hb-typography-font-weight-bold,
  extra-bold: $--hb-typography-font-weight-extra-bold,
  blacks: $--hb-typography-font-weight-blacks,
);

$--hb-line-height-map: (
  h1: $--hb-typography-line-height-h1,
  h2: $--hb-typography-line-height-h2,
  h3: $--hb-typography-line-height-h3,
  h4: $--hb-typography-line-height-h4,
  h5: $--hb-typography-line-height-h5,
  h6: $--hb-typography-line-height-h6,
  p: $--hb-typography-line-height-p,
  small: $--hb-typography-line-height-small,
);

$--hb-margin-bottom-map: (
  h1: $--hb-typography-margin-bottom-h1,
  h2: $--hb-typography-margin-bottom-h2,
  h3: $--hb-typography-margin-bottom-h3,
  h4: $--hb-typography-margin-bottom-h4,
  h5: $--hb-typography-margin-bottom-h5,
  h6: $--hb-typography-margin-bottom-h6,
  p: $--hb-typography-margin-bottom-p,
  small: $--hb-typography-margin-bottom-small,
);
