@import '../../../../../styles/mixins/transitions/common';

@mixin apply-icon-idle(
  $property,
  $selector,
  $colorLight: $--hb-neutral-2,
  $colorDark: $--hb-neutral-2--dark
) {
  #{$selector} {
    #{$property}: $colorLight;
  }

  &--dark {
    #{$selector} {
      #{$property}: $colorDark;
    }
  }
}

@mixin apply-icon-focus(
  $className,
  $property,
  $selector,
  $colorLight: $--hb-neutral-1,
  $colorDark: $--hb-neutral-1--dark
) {
  &:focus:not(#{$className}--disabled):not(#{$className}--disabled-hover):not(
      #{$className}--selected
    ) {
    #{$selector} {
      #{$property}: $colorLight;
    }
  }

  &--dark:focus:not(#{$className}--disabled--dark):not(
      #{$className}--disabled-hover--dark
    ):not(#{$className}--selected--dark) {
    #{$selector} {
      #{$property}: $colorDark;
    }
  }
}

@mixin apply-icon-hover(
  $className,
  $property,
  $selector,
  $colorLight: $--hb-neutral-1,
  $colorDark: $--hb-neutral-1--dark
) {
  &:hover:not(#{$className}--disabled):not(#{$className}--disabled-hover):not(
      #{$className}--selected
    ) {
    #{$selector} {
      #{$property}: $colorLight;
    }
  }

  &--dark:hover:not(#{$className}--disabled--dark):not(
      #{$className}--disabled-hover--dark
    ):not(#{$className}--selected--dark) {
    #{$selector} {
      #{$property}: $colorDark;
    }
  }
}

@mixin apply-icon-forced-hover(
  $className,
  $property,
  $selector,
  $colorLight: $--hb-neutral-1,
  $colorDark: $--hb-neutral-1--dark
) {
  &--forced-hover:not(#{$className}--disabled) {
    #{$selector} {
      #{$property}: $colorLight;
    }
  }

  &--forced-hover--dark:not(#{$className}--disabled--dark) {
    #{$selector} {
      #{$property}: $colorDark;
    }
  }
}

@mixin apply-icon-selected(
  $className,
  $property,
  $selector,
  $colorLight: $--hb-common-neutral-blue-1,
  $colorDark: $--hb-common-neutral-blue-2
) {
  &--selected:not(#{$className}--disabled) {
    #{$selector} {
      #{$property}: $colorLight;
    }
  }

  &--selected--dark:not(#{$className}--disabled--dark) {
    #{$selector} {
      #{$property}: $colorDark;
    }
  }
}

@mixin apply-icon-clickable() {
  &--clickable {
    cursor: pointer;
  }
}

@mixin apply-icon-disabled() {
  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@mixin apply-icon-styles($className, $property, $selector) {
  @include apply-icon-idle($property, $selector);
  @include apply-icon-focus($className, $property, $selector);
  @include apply-icon-hover($className, $property, $selector);
  @include apply-icon-forced-hover($className, $property, $selector);
  @include apply-icon-selected($className, $property, $selector);
  @include apply-icon-clickable;
  @include apply-icon-disabled;

  outline: none;

  path {
    @include transition;
  }
}
